<div class="container-fluid d-flex flex-column align-center">
  <%= render partial: "bloggers/blogger", locals: { blogger: @blogger } %>
<%@blogger.recent_three_posts.each do |post|%>
<%= link_to blogger_post_path(post.author_id, post.id), style: "white-space: break-spaces; height: min-content;", class: "navbar-brand p-0 m-0" do%>
  <div class="card d-flex flex-column"><%= render partial: "posts/post", locals: { post: post } %></div>
<% end %>
<%end%>
<%= link_to "See all posts",blogger_posts_path(blogger_id: @blogger.id), style: "margin-top: 2vw; margin-bottom: 2vw;" , class: "btn btn-outline-success" %>
</div>