

  <div class=" card flex-row justify-center">  
    <img style="width: 20%" src="<%= user.photo %>" alt="profile picture" class="img-thumbnail">
    <div class="d-flex flex-column justify-content-around card-body text-base font-medium" style="width: 70%">
          <h2 class="card-title w-bolder">
            <%= user.name%>
          </h2>
      <p class="card-text">
        <%= user.bio%>
      </p>
      <span class="text mt-auto mb-0"> <small><%= user.post_counter %></small> <small class="ml-1">Posts</small></span>
    </div>
  </div>  
