<div class="mt-8">
    <div class="container-fluid">
      <% @users.each do |user|%>
        <%= link_to user_path(user.id), style: "white-space: break-spaces; height: min-content; display: flex;", class: "navbar-brand p-0 m-2" do%>
          <%= render partial: "users/user", locals: { user: user } %>
        <% end %>
      <% end %>
    </div>
</div>

<div class="mt-8">
    <p>
      <% if @users.empty? %>
        <p>There are no users :(</p>
      <% end %>
    </p>
</div>