<div class="mt-8">
<div class="mt-8">
    <p>
      <% if @posts.empty? %>
        <p>There are no posts :(</p>
      <% end %>
    </p>
</div>
    <div class="container-fluid">
      <% @posts.each do |post|  %>
      <%= link_to posts_path(post.id), style: "white-space: break-spaces; height: min-content; display: flex;", class: "navbar-brand p-0 m-2" do%>
          <div class="card"><%= render partial: "posts/post", locals: { post: post } %></div>
        <% end %>
      <% end %>
    </div>
    
    <% if current_user %>
      <%= link_to "Add New Post", new_user_post_path(user_id: current_user.id) %>
    <% end %>
</div>
