<div class="mt-8">
<div class="mt-8">
    <p>
      <% if @posts.empty? %>
        <h1 class="title fw-bold fs-1 text-center">There are no posts :(</h1>
      <% end %>
    </p>
</div>
    <div class="container-fluid">
    <% if blogger_signed_in? && current_page?("/bloggers/#{current_blogger.id}/posts") %>
        <% @posts.each do |post|  %>
          <%= link_to blogger_post_path(post.author_id, post.id), style: "white-space: break-spaces; height: min-content;", class: "navbar-brand p-0 m-0" do%>
            <div class="card d-flex flex-column m-1"><%= render partial: "posts/post", locals: { post: post } %></div>
          <% end %>
        <% end %>
      <% else %>
        <% @posts.each do |post|  %>
        <%= link_to blogger_post_path(post.author_id, post.id, post_index: true), style: "white-space: break-spaces; height: min-content;", class: "navbar-brand p-0 m-0" do%>
            <div class="card d-flex flex-column m-1"><%= render partial: "posts/post", locals: { post: post } %></div>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>
