<% @title="My Blog | Add Post" %>
<div class='m-4 d-flex flex-column'>
  <h1>Create New Post</h1>
  <%= form_with model: @post, url: user_posts_path do |f| %>
    <div class="m-4">
      <%= f.text_field :title, placeholder:"Enter Post Title", class:"form-control"%>
    </div>
    <div class="m-4">
      <%= f.text_area :text, size:"70x6" ,placeholder:"Enter Your Post", class:"form-control" %>
    </div>
    <div class="m-4">
      <%= f.submit "Add New Post", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>